*  {
    background-color: rgba(243, 235, 235, 1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

html,
body,
main {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: Explogos;
    src: url(Explogos\ -\ Demo.ttf);
}

.outside-wrapper {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 80px;
}

.flex-wrapper {
    display: flex;
    gap: 80px;
    padding: 0px 20px;    
}

.left {
    width: 100%;
}

header {
    display: block;
    margin: 0 auto 30px -50px;
}

h1 {
    color: rgb(173, 18, 102);
    font-family: 'Explogos', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 1.3em;
    text-transform: uppercase;   
}

hr {
    height: 0.3px;
    width: 45px;

    margin: -10px 0 40px 0;
    
    background-color:rgb(173, 18, 102);   
}

textarea {
    height: 250px;
    width: 100%;
        
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    
    font-size: 1em;
    overflow: hidden;
}

.vertical {
    height: 310px;
    width: 0;

    margin: 210px 0 auto 0;
    
    border-left: 1.5px solid rgba(0, 0, 0, 0.1);  
}

.right {
    width: 100%;

    margin-top: 200px;
    margin-right: 0;

}

fieldset {
    width: 100%;
    padding-left: 0;
    border: none;
}

label[for="message"],
legend {
    display: block;
    padding-bottom: 6px;
}

fieldset label {
    margin-right: 40px;
}

input[type="radio"] {    
    position: relative;

    vertical-align: text-bottom;

    margin-right: 10px;

    height: 1.3em;
    width: 1.3em;

    appearance: none;
}

input[type="radio"]::after {
    position: absolute;

    content: "";

    height: 0.7em;
    width: 0.7em;
    
    border-radius: 50%;
    border: 4px solid white;
    outline: 1.2px solid rgba(0, 0, 0, 0.2);

    background-color: rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked::after {
    background-color: rgb(173, 18, 102);
    border-color: rgba(243, 235, 235, 1);
}

label[for="name"],
label[for="email"] {
    display: block;
    margin: 20px 0 3px;
}

.required-field {
    font-size: 0.85em;

    color: rgba(0, 0, 0, 0.6);
}

.asterisk {
    display: inline-block;
     
    vertical-align: middle;

    padding-right: 10px;
    
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(173, 18, 102);
}

input[id="name"],
input[id="email"] {
    display: block;
    margin-bottom: 5px;
    
    height: 50px;
    width: 100%;

    padding: 0;
    
    background-color: white;
    border: none;
    outline: none;
    
    font-size: 1em;
}

.send-button-wrapper {
    position: relative;
    width: 100%;
}

.send-button {
    display: block;
    position: relative;
    left: calc(100% - 150px);
    top: 45px;

    height: 55px;
    width: 150px;
    padding-right: 50px;
    
    background-color: rgb(173, 18, 102);
    border: 1px solid rgb(173, 18, 102);
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1),
    2px 2px 4px 1px rgba(0, 0, 0, 0.1),
    -2px -2px 4px 1px rgba(0, 0, 0, 0.1);
    
    color: white; 
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 50px;
    text-shadow: 1px 1px 2px rgb(107, 20, 68);
    text-transform: uppercase;
}

.send-button::after {
    position: absolute;
    left: 110px;
    content: ">";
    font-size: 2em;
    font-weight: 100;
}

.send-button:hover,
.send-button:hover::after {
    background-color: rgb(207, 34, 129);
}

.send-button:active,
.send-button:active:after {
    background-color: rgb(163, 43, 109);
    border-color: rgb(163, 43, 109);
}


@media screen and (max-width: 1150px) {
    .outside-wrapper {
        padding: 0 15px 0 10px;
    }

    .flex-wrapper {
        flex-direction: column;
        
        align-items: center;

        padding: 0;
    }

    .vertical {
        display: none;
    }

    .left,
    .right {
        max-width: 400px;
        margin-top: 0;
    }

    header {
        margin-left: 0;
        padding-top: 60px;
    }

    textarea,
    fieldset,
    input[id="name"],
    input[id="email"] {
        width: 100%;
    }

    input[type="radio"] {  
        vertical-align: middle;
        height: 2.5em;
        width: 2.5em;
        margin-right: 0;
    }
    
    input[type="radio"]::after {
        height: 1.2em;
        width: 1.2em;
        
    }

    fieldset label {
        margin-right: 30px;
    }

    label:last-of-type {
        margin-right: 0;
    }

    .send-button {
        position: relative;
        left: 0;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        letter-spacing: 1.6vw;
    }

    fieldset label:not(:last-of-type) {
        margin-right: min(30px, calc(-50px + 16vw));
    }
}